* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

/* fonts */
@font-face {
    font-family: "index-page-bolder";
    src: url("../assets/fonts/chirp-extended-heavy-web.woff") format('woff');
}

@font-face {
    font-family: "index-page-bold";
    src: url("../assets/fonts/chirp-bold-web.woff") format('woff');
}

@font-face {
    font-family: "index-page-normal";
    src: url("../assets/fonts/chirp-regular-web.woff") format('woff');
}

/* fonts */

/* utilities */
img {
    width: 100%;
    height: 100%;
}

.btn {
    width: 266px;
    border-radius: 30px;
    border: 1px solid transparent;
    padding: 9px 16px;
    margin-bottom: 8px;
    font-size: 15px;
    word-wrap: break-word;
    font-family: "index-page-bold";
    line-height: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all ease-out 200ms;
}

.btn-blue {
    color: white;
    background-color: var(--twitter-color);
}

.btn-blue-outline {
    color: var(--twitter-color);
    border-color: #cccccc;
    background-color: transparent;
}

.btn-blue:hover {
    background-color: #1a8cd8;
}

.btn-blue-outline:hover {
    background-color: #1d9bf01a;
}

/* end of utilities */
:root {
    --index-color: #0f1419;
    --twitter-color: #1d9bf0;
    --navbar-txt: #536471;
}

.index-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.index-logo-container {
    /* width: 100%; */
    min-width: 60%;
    height: 100%;
    background-image: url("../assets/images/images/twitter-index-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: -1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.index-logo-container .index-img-wrapper {
    /* max-width: 345px; */
    /* min-width: 30px; */
    max-width: 40%;
    /* height: 250px; */
    max-height: 60%;
    padding: 32px;
    /* position: relative;
    right: 20%; */
}

/* @media screen and (min-width: 1000px) and (max-width: 1300px) {
    .index-logo-container .index-img-wrapper {
        position: relative;
        right: 20%;
    }
} */

.index-join-container {
    max-width: 60%;
    min-width: 30%;
    height: 100%;
    padding: 36px;
    background-color: white;
    /* position: absolute;
    top: 0;
    right: 0;
    z-index: 1; */
    color: var(--index-color);
}

.index-join-container .index-logo-wrapper {
    width: 45px;
    height: 45px;
    padding-bottom: 12px;
}

.index-join-container .index-title {
    margin: 48px 0;
    line-height: 84px;
    font-size: 60px;
    font-family: "index-page-bolder", Arial, Helvetica, sans-serif;
}

.index-join-container .index-mini-title {
    margin-bottom: 32px;
    font-family: "index-page-bold", Arial, Helvetica, sans-serif;
    font-size: 31px;
    line-height: 36px;
}

.index-join-container .privacy-txt {
    width: 266px;
    font-size: 9px;
    line-height: 12px;
    font-family: "index-page-normal", Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: var(--navbar-txt);
    word-wrap: break-word;
    margin-bottom: 20px;
    padding: 0 10px;
}

.index-join-container .privacy-txt .privacy-links {
    color: var(--twitter-color);
    
}

.index-join-container > h5 {
    margin: 40px 0 20px;
    font-size: 17px;
    font-family: "index-page-normal", Arial, Helvetica, sans-serif;

}
/* start of navbar */
.index-navbar-container {
    width: 93%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 12px 0;
}

.index-navbar-container a {
    margin: 0 auto;
    margin: 4px 0;
    font-size: 13px;
    width: auto;
    color: var(--navbar-txt);
}

.index-navbar-container a:hover {
    text-decoration:underline;
}
/* end of navbar */
/* end of index page */

@media screen and (max-width: 1000px) {
    .index-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'joinContainer'
    'logoContainer';
    }

    .index-join-container {
        grid-area: joinContainer;
        width: 90%;
        margin: 0 auto;
        max-width:none;
        min-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .index-join-container .index-mini-title {
        font-size: 22px;
    }

    .index-join-container .index-title {
        font-size: 40px;
        line-height: 40px;
    }

    .index-logo-container {
        grid-area: logoContainer;
        min-width: 100%;
    }
    
    .index-logo-container .index-img-wrapper {
        /* max-width: 345px; */
        /* min-width: 30px; */
        max-width: 80%;
        /* height: 250px; */
        max-height: 60%;
        padding: 32px;
        /* position: relative;
        right: 20%; */
    }
    /* start of navbar */
    .index-navbar-container {
        margin-top: 10%;
    }

    .index-navbar-container a {
        /* margin: 0 auto;
        margin: 4px 0;
        font-size: 13px;
        width: auto;
        color: var(--navbar-txt); */
    }
}
